<div class="container">
    <h1>Welcome to <b>ZStream</b></h1>
    <p><i>ZStream</i> is a custom media hub that can be run on any computer.</p>
    <p>This <i>ZStream</i> instance is connected to <b>{{songs}}</b> songs.</p>
</div>