<div class="section">
    <div class="container">
        <h1 class="header center light-blue-text">ZStream</h1>
        <div class="divider"></div>
        <div class="row center">
            <h5 class="header col s12 light">A custom lightweight media hub.</h5>
        </div>
    </div>
</div>

<div class="section blue white-text">
    <div class="container">
        <h3>Stats</h3>
        <div class="row black-text">
            <div class="col white s4 z-depth-1">
                <div class="section">
                    <h5>Songs</h5>
                    <div class="divider"></div>
                    <br> Currently connected to
                    <code>{{songs}}</code> songs.
                </div>
            </div>
        </div>
    </div>
</div>