<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/node_modules/modern-normalize/modern-normalize.css" />
    <link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"></link>
    
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery.nicescroll.min.js"></script>
    <script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
</head>

<body>

    <div id="navbar" class="container navbar-container" hidden=true>

        <ul class="navbar">
            <li class="navbar-item"><a href="/">Home Page</a></li>
            <li class="navbar-item" id="toggle-search"><a href="#">Search</a></li>
        </ul>
        <div id="search" hidden=true>
            <form action="/songs" method="get">
                <input class="form-item" type="text" name="title" placeholder="Title...">
                <input class="form-item" type="text" name="artist" placeholder="Artist...">
                <input class="form-item" type="text" name="album" placeholder="Album...">
                <input class="form-item" type="submit" value="Search" target="_blank">
            </form>
        </div>
    </div>

    {{{body}}}

    <script type="text/javascript">
        $('#toggle-search').click(function () { $('#search').slideToggle(); });
        $('#navbar').fadeIn(); 
    </script>

</body>

</html>