<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/modern-normalize/modern-normalize.css" />
    <link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/node_modules/material-icons/iconfont/material-icons.css"> {{!--
    <link rel="stylesheet" href="/css/style.css" /> --}} {{!--
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"></link> --}}

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    {{!-- <script src="/lib/jquery.nicescroll.min.js"></script> --}}
</head>

<body>

    <div class="navbar-fixed">
        <nav class="teal">
            <div class="nav-wrapper">
                <form action="/songs">
                    <div class="input-field">
                        <input id="search" type="search" name="title" required>
                        <label class="label-icon" for="search">
                            <i class="material-icons">search</i>
                        </label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>

    {{{body}}}

    <script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script> {{!--
    <script type="text/javascript">
        $('#toggle-search').click(function () { $('#search').slideToggle(); });
        $('#navbar').fadeIn(); 
    </script> --}}
</body>

</html>