#songs {
    /*overflow-y: scroll;*/
    height: 60vh;
}

.song {
    padding: 15px;
    margin: 25px;
    display: flex;
}

.cover {
    display: inline-block;
    
    width: 150px;
    height: 150px;

    margin-right: 2em;
    box-shadow: 0px 0px 15px black;

    transition: all 0.3s;
}

.cover:hover {
    box-shadow: 0px 0px 25px #0f0f0f;
    width: 160px;
    height: 160px;
}

.current-song {
    box-shadow: 0px 0px 25px #40B6EF;
}

.current-song:hover {
    box-shadow: 0px 0px 45px #6AD5FF;
}

#controls {
    padding: 35px;
    display: block;
    text-align: center;
}

#song-info {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.progress-bar {
    position: relative;
    height: 25px;
    display: flex;
    background: #1f1f1f;
    border-radius: 10px;
    margin-top: 25px;
}

.progress {
    background: #3f3f3f;
    border-radius: 10px;

    box-shadow: 0px 0px 9px #d3d3d3;

    position: absolute;
    height: 15px;
    width: 0%;

    margin: 5px;

    transition: all 0.3s ease;
}

.control {
    display: inline-block;
    margin: 15px;
    
    transition: all 0.2s ease;
}

.control:hover {
    color: #bdbdbd;
}

.control:active {
    color: #989898;
}

.setting {
    float: right;
}

@media (max-width: 750px) {
    .song h1 {
        font-size: 1.1em;
    }

    .song h3 {
        font-size: 0.6em;
    }

    .control {
        margin: 0.4em;
        margin-bottom: 1em;
    }

    .fa {
        font-size: 1.5em;
    }

    .progress-bar {
        margin-top: 15px;
    }
}

@media (max-width: 550px) {
    #song-info {
        font-size: 1em;
    }

    .cover {
        display: block;
        margin: auto;
        margin-bottom: 1em;
    }

    .song {
        display: block;
        text-align: center;
    }

    .control {
        margin: 0.3em;
    }

    .fa {
        font-size: 1em;
    }
}