body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1.5em;
    background: #1f1f1f;
    background-repeat: no-repeat;
}

.container {
    background: #393939;
    box-shadow: 0px 5px 25px black;
    margin: 1em;
    padding: 2em;
    color: white;
}

/**************
 *** NAVBAR ***
 **************/

.navbar-container {
    background: #9a9a9a;
    box-shadow: 0px 3px 15px black;
}

.navbar {
    /*display: inline;*/
    margin: 15px;
    /*padding: 0px 10px 0px 10px;*/
    padding: 0px;
}

.navbar-item {
    display: inline;
    text-decoration: none !important;
    list-style-type: none !important;
    margin: 0px 0px 0px 0px;
    padding: 15px;
    color: white;
    background: #2f2f2f;
    /*border: 2px solid #2f2f2f;*/
    
    transition: all 0.3s;
}

.navbar-item a {
    color: white;
    transition: all 0.3s;
}

.navbar-item:hover a {
    color: #121212;
}

.navbar-item:hover {
    background: #dbdbdb;
    box-shadow: 0px 2px 5px black;
}

.navbar-item * {
    text-decoration: none !important;
}

/*************
 *** FORMS ***
 *************/

input {
    padding: 10px 15px 10px 15px;
    font-size: 1em;

    background: #121212;
    color: white;
    border: 1px solid #2f2f2f;
    border-radius: 5px;

    transition: all 0.25s;
}

input[type='text'] {
    margin: 15px;
}

input[type='text']:focus {
    box-shadow: 0px 0px 11px #7ed3fb inset;
    outline: none;
}

input:hover {
    box-shadow: 0px 0px 5px #7ed3fb inset;
}

input:active {
    box-shadow: 0px 0px 13px #7ed3fb inset;
}

label {
    font-weight: 600;
}

label::after {
    content: ': ';
}

.form-item {
    /*display: inline-block;*/
    margin: 1.2em;
}

.form-item {
    display: inline-block;
}

#search {
    margin-bottom: 1em;
}

/*****************
 *** UTILITIES ***
 *****************/

.no-select {
    user-select: none;
}

.nicescroll-rails > div {
    box-shadow: 0px 0px 11px #bfbfbf;

    transition: box-shadow 0.3s ease;
}

.nicescroll-rails > div:hover {
    box-shadow: 0px 0px 15px #bfbfbf;
}

hr {
    border: 1px solid white;
}

/*******************
 *** MEDIA RULES ***
 *******************/

@media (max-width: 550px) {
    body {
        padding: 0.6em;
        font-size: 0.85em;
    }

    .navbar-item {
        display: flex;
    }

    .form-item {
        display: flex;
        margin: 15px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}